html {
  font-size: 100%;            
}

body {
 
  background-color: #e0f0f5;    

  
  font-family: serif;
  font-size: 16px;
  color: #fff9f9;

  line-height: 1.6;           
  word-spacing: 1px;          
  letter-spacing: 0.3px;        

 
  max-width: 750px;
  margin: 0 auto;            
  padding: 2rem 1.5rem;
}